// Site variables 

// site fonts
//$font-normal: 'Roboto', Arial, "Lucida Grande", sans-serif; //Goole font
//$font-folk: 'Folksolid', Arial, "Lucida Grande", sans-serif; //embedded font



// --- site colours ---
$color-dk: #333; //text on fff 
$color-mid: #555;
$color-lt: #999;
$color-faint: #e7e7e7;
$color-hilite: #f00;
$white: #fff;
$black: #000;
$error: #f00;


//text-sizes
$hdg-xlrg: 4.4em;
$hdg-lrg: 3em;
$hdg-mid: 2.4em;
$hdg-sml: 2em;
$txt-s: 1em;
$txt-m:  1.6em;
$txt-l:	1.8em;