%footer
	-# footer navigation
	%nav
		%ul
			%li 
				%a{href: '/sitemap.html'} sitemap
			%li 
				%a{href: '/accessibility.html'} accessibility
			%li
				%a{href: '/contact.html'} contact

	%p.copyright &copy; 2014
