%nav.nav-box
	%ul
		%li{class: 'dev-i'}
			%a{href: '/subdir/'} Webdev index

			%ul
				%li{class: 'dev-t'}
					%a{href: '/subdir/section1.html'} Subsection 1
				%li{class: 'dev-r'}
					%a{href: '/subdir/section2.html'} Subsection 2
				%li{class: 'dev-b'}
					%a{href: '/subdir/blog-index.html'} Blog section