//----------------Blog posts, lists and summaries-------------------------




.blog {
	li {
		list-style: none;
		* {
			font-size: 1em;
		}
		p {
			margin: .5em 0;
		}
		time {
			@extend small;
		}
		.tags {
			@extend small;
		}

	}
}
/*-------------------------
	blog summaries / excerpts
--------------------------*/
.blog-summary {
	@extend %clearfix;
	padding: 0; 
	margin: 0 0 2em;
	h1 {
		display: none;
	}	
	h4 {
		margin-bottom: 0em;
	}
	li {
		margin-bottom: 1em;
	}
	
}
 

/*-------------------------
	blog navigation
--------------------------*/

#blognav {
	background: $color-faint;
	padding: .5em;
	h3 {
		margin-top: 0;
	}

	.tags-list {
		margin: 2em 0;
		h3 {
			margin-bottom: .2em;
		}
		ul {
			padding: 1em;
			border: 1px dotted $color-dk;
		}
		li {
			@include inline-block;
		}
	}
}


.subdir_index #blognav { 
	h3,
	p,
	.tags-list {
		display: none;
	}
}