//-------------------layout------------------------
//generic layout styles
/* Layout rules divide the page into sections. 
Layouts hold one or more modules together. 

Naming convention prefix: l- or grid-
*/

//main centered area
main, 
header, 
footer {
	font-size: 100%;
	width: 100%;
}
#centre {
	padding: 0 1em;
	@include bp(phablet, true){
		padding: 0 2em; 
	} 
}



#centre, 
header nav, 
footer nav,
.centre {	
	@include bp(phablet, true){	
		margin: 0 auto;
		max-width: 940px;
		width: auto;
		padding: 0 2em; 
	}
	@include bp(tablet, true){	
		width: 90%;
		padding: 0;
	}
	
}

