---
title: Subsection 2
description: Another page in the Subdirectory
---

.two-cols
	.content
		= partial '_markdowns/subdir-section2'

	%aside
		-# web dev navigation
		= partial '_templates/partials/subdirnav'
		%button.toggle 
			%span sidebar!

		