---
title: Subsection 1
description: A sample page in Subdirectory
---

.two-cols
	.content
		= partial '_markdowns/subdir-section1'

	%aside
		-# web dev navigation
		= partial '_templates/partials/subdirnav'
		%button.toggle 
			%span sidebar!