//----------------search results (Zoom search)-------------------------

#search-results {
	.highlight { background: #FFFF40; }
	.searchheading { font-size: 130%; font-weight: bold; }
	.summary { font-size: 80%; font-style: italic; }
	.suggestion { font-size: 100%; }
	.results { font-size: 100%; }
	.category { color: #999999; }
	.sorting { text-align: right; }

	.result_title { font-size: 100%; }		
	.description { font-size: 100%; color: #008000; }
	.context { font-size: 100%; }
	.infoline { font-size: 80%; font-style: normal; color: #808080;}
}




