/*----------------search results (Zoom search)--------------*/
$sr-highlight: #ddd;
$sr-cat: #999;
$sr-infotext: #808080;


#search-results {
	.highlight {
		background: $sr-highlight;
	}
	.searchheading { 
		font-size: 2em; 
		font-weight: bold; 
	}
	.summary { 
		font-size: 1.4em; 
		font-style: italic; 
	}
	.results { 
		font-size: 1.6em; 
	}
	.category { 
		color: $sr-cat; 
	}
	.sorting { 
		text-align: right;
	}

	.result_title {
		font-size: 100%;
	}		
	.description {
		font-size: 100%; 
		color: $sr-infotext;
	}
	.context {
		font-size: 100%;
	}
	.infoline {
		font-size: 80%; 
		font-style: normal; 
		color: $sr-infotext;
	}

	//.zoom_searchform { font-size: 100%; }
	.zoom_results_per_page { 
		font-size: 80%;
		label {
			width: 40%;
		}
	}
	.zoom_match { display: none;}	
	
	
	//input.zoom_button {  }
	//input.zoom_searchbox {  }		
	
	.result_image {
		float: left;
		display: block;
	}
	.result_image img {
		margin: 10px; 
		width: 80px; 
		border: 0px;
	}

	.result_block {
		margin-top: 15px; 
		margin-bottom: 15px; 
		clear: left; 
	}
	.result_altblock { 
		margin-top: 15px; 
		margin-bottom: 15px; 
		clear: left; 
	}
	
	.result_pages { 
		font-size: 100%; 
	}
	.result_pagescount { 
		font-size: 100%; 
	}
	
	.searchtime { 
		font-size: 80%; 
	}


}

